.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-size: cover;
  background-repeat: no-repeat
}

body {
  background: #654ea3;
  background: linear-gradient(to right, #e96443, #904e95);
  min-height: 100vh;
  overflow-x:hidden;
}

/* Estilo para los tweets */
.card {
  margin-bottom: 20px;
}

.card-header {
  background-color: #007bff;
  color: white;
}

.card-footer {
  background-color: #E6ECF0;
}

.container {
  display: flex;
  justify-content: center;

}
.tweet {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  padding: 30px;
  background: white;
  border-radius: 10px;
  border-width: 5px;
  border-color: lightcoral;
  width: 300vh;
}
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.tweet-info {
  flex: 1;
}
.name {
  font-weight: bold;
  margin-bottom: 5px;
}
.username {
  color: gray;
  margin-bottom: 5px;
}
