<div class="row" id="foto" style="padding: 30px; width: 100%; align-self: end; border-radius: 50px;">
  <div id="datos" class="col-md-2">
    <img src="https://i.pinimg.com/474x/1f/dd/1f/1fdd1f565711ac4a9fc5c9c02b4c039e.jpg" class="profile-picture">
    <div class="biografia">
      <h3 class="username">Xokas</h3>
      <p class="name">@follacamiones24</p>
      <p class="bio">Sobre mí</p>
      <div id="texto-bio">
        <p> Me gusta el Fortnite, el vodka caremelo y el Albacete.</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-9 main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <nav class="nav nav-pills nav-fill">
          <a class="nav-item nav-link active" href="#">Tweets</a>
          <a class="nav-item nav-link" href="#">Siguiendo</a>
          <a class="nav-item nav-link" href="#">Seguidores</a>
          <a class="nav-item nav-link" href="#">Me gusta</a>
        </nav>
        <div class="tweet-container">
          <div class="tweet">
            <p class="tweet-text">Este es un ejemplo de un tweet</p>
            <small class="text-muted">Publicado hace 15 minutos</small>
          </div>
          <div class="tweet">
            <p class="tweet-text">Este es otro ejemplo de un tweet</p>
            <small class="text-muted">Publicado hace 30 minutos</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

