<head>
  <link rel="stylesheet" href="app.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body onload="">

<div id="escribir" class="position-fixed bottom-0 end-0">
  <div class="card mt-5 pb-5" style="box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);">
    <div class="d-flex flex-row justify-content-between p-3 adiv text-white">
      <span></span>
      <span class="pb-3">Escribe un Tidal</span>
      <button style="background-color: transparent; border-color: transparent; border: 0px; margin: 0;" (click)="cerrarTidal()"><fa-icon [icon]="['fas', 'xmark']" style="color: whitesmoke"></fa-icon></button>
    </div>
    <div class="mt-2 p-4 text-center">
      <h6 class="mb-0">¿En qué piensas ahora?</h6>
      <small class="px-3">Cuéntale al mundo qué andas haciendo.</small>
      <div class="form-group mt-6">
        <input class="form-control" rows="4" placeholder="Publicación" type="text" [(ngModel)]="art.texto" />
        <br>
        <input class="form-control" rows="2" placeholder="¿Tag?" type="text" [(ngModel)]="art.tags" />
      </div>
      <div class="mt-2">
        <button (click)="guardarPubli()" class="btn btn-primary btn-block" ><span><fa-icon [icon]="['fas', 'share']" style="color: whitesmoke"></fa-icon> </span></button>
      </div>
    </div>
  </div>
</div>

<div id="buscador" class="position-fixed bottom-0">
  <div class="card mt-5 pb-5" style="box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);">
    <div class="d-flex flex-row justify-content-between p-3 adiv text-white">
      <span></span>
      <span class="pb-3">Busca...</span>
      <button style="background-color: transparent; border-color: transparent; border: 0px; margin: 0;" (click)="cerrarBuscador()"><fa-icon [icon]="['fas', 'xmark']" style="color: whitesmoke"></fa-icon></button>
    </div>
    <div class="mt-1 p-4 text-center">
      <div class="form-group mt-1">
        <input class="form-control" rows="4" placeholder="¿A quién quieres encontrar?" type="text" [(ngModel)]="buscador.nombre" />
      </div>
      <div class="mt-2">
        <button (click)="buscarUsuario()" class="btn btn-primary btn-block" ><span><fa-icon [icon]="['fas', 'share']" style="color: whitesmoke"></fa-icon> </span></button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light fixed-bottom" id="barra" style="background-color: whitesmoke;" *ngIf="!hideDiv">
  <div class="container-fluid">
    <button class="nav-link" href="#" style="border-radius: 50px; background-color: lightcoral; border-color: transparent; alignment: center" (click)="abrirBuscador()"><fa-icon [icon]="['fas', 'search']" style="Color:whitesmoke;  hover-color: #E54A73;"></fa-icon></button>
    <div id="navbarNav" style="alignment: center">
      <ul class="navbar-nav" style="display: flex; flex-direction: row; flex-wrap: nowrap;">
        <li class="nav-item" style="margin-left: 1vw; margin-right: 1vw;">
          <a class="nav-link active" aria-current="page" routerLink="/home"><fa-icon [icon]="['fas', 'home']" style="Color:#E57373;  hover-color: #E54A73; width: 100px;"></fa-icon></a>
        </li>
        <li class="nav-item" style="margin-left: 1vw; margin-right: 1vw;" routerLink="/perfil">
          <a class="nav-link active" aria-current="page" routerLink="/perfil"><fa-icon [icon]="['fas', 'person']" style="Color:#E57373; hover-color: #E54A73; hover-color: #E54A73;"></fa-icon></a>
        </li>
        <li class="nav-item" style="margin-left: 1vw; margin-right: 1vw;">
          <a class="nav-link" href="#"><fa-icon [icon]="['fas', 'bell']" style="Color:#E57373; hover-color: #E54A73; hover-color: #E54A73;"></fa-icon></a>
        </li>
        <li class="nav-item" style="margin-left: 1vw; margin-right: 1vw;">
          <a class="nav-link" href="#"><fa-icon [icon]="['fas', 'message']" style="Color:#E57373;  hover-color: #E54A73;"></fa-icon></a>
        </li>
        <li class="nav-item" style="margin-left: 1vw; margin-right: 1vw;">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><fa-icon [icon]="['fas', 'wrench']" style="Color:#E57373;  hover-color: #E54A73;"></fa-icon></a>
        </li>
      </ul>
    </div>
    <button class="nav-link" href="#" style="border-radius: 50px; background-color: lightcoral; border-color: transparent; alignment: center" (click)="abrirTidal()"><fa-icon [icon]="['fas', 'plus']" style="Color:whitesmoke;  hover-color: #E54A73;"></fa-icon></button>
  </div>
</nav>
</body>

<router-outlet></router-outlet>

