<head>
  <link rel="stylesheet" href="app.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body onload="">
<div id="sidebar" class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="profile-picture-container">
        <img src="https://i.pinimg.com/474x/1f/dd/1f/1fdd1f565711ac4a9fc5c9c02b4c039e.jpg" class="profile-picture">
        <h4 class="username">@follacamiones24</h4>
      </div>
      <nav class="nav flex-column">
        <a class="nav-link" routerLink="/inicio-sesion">Inicio</a>
        <a class="nav-link" routerLink="/home">Explorar</a>
        <a class="nav-link" routerLink="/inicio">Notificaciones</a>
        <a class="nav-link" href="#">Mensajes</a>
        <a class="nav-link" href="#">Bookmarks</a>
        <a class="nav-link" href="#">Listas</a>
        <a class="nav-link" routerLink="/perfil">Perfil</a>
        <a class="nav-link" href="#">Más</a>
      </nav>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom" id="barra">
  <div class="container-fluid">
    <div class="profile-picture-container">
      <img src="https://i.pinimg.com/474x/1f/dd/1f/1fdd1f565711ac4a9fc5c9c02b4c039e.jpg" class="profile-picture" style="margin: 0px;">
      </div>
    <div id="navbarNav" style="alignment: center">
      <ul class="navbar-nav" style="display: flex; flex-direction: row; flex-wrap: nowrap;">
        <li class="nav-item" style="margin-left: 2vw; margin-right: 2vw;">
          <a class="nav-link active" aria-current="page" href="#"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
        </li>
        <li class="nav-item" style="margin-left: 2vw; margin-right: 2vw;">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item" style="margin-left: 2vw; margin-right: 2vw;">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item" style="margin-left: 2vw; margin-right: 2vw;">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>

<router-outlet></router-outlet>

