.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  background-color: #191922;
}
.profile-picture-container {
  text-align: center;
  margin-bottom: 20px;
}
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.username {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: lightcoral;
}

#barra{
  display:flex;
  flex-direction:row;
}
li{
  display: inline;
}
@media (max-width: 768px) {

}
/* Media Queries para hacer el sidebar responsive */
@media (max-width: 991px) {
  .sidebar {
    position: relative;
    border-right: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: none;
  }
}
@media (min-width: 990px) {
  #barra {
    display: none;
  }
}

