<div id="perfil" class="row py-5 px-4" *ngIf="perfil!=null; else espera" style="background-color: white">
  <div>
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover" [style.background-image]="perfil.encabezado ? 'url(' + perfil.encabezado + ')' : 'url(https://wallpapers.com/images/high/pixel-beach-sp79t5xnmjohyfen.webp)'">
        <div class="media align-items-end profile-head">
          <div class="profile mr-3">
            <img src="{{perfil.foto}}" alt="..." width="130" class="img-thumbnail" style="border-radius: 50%; border-color: lightcoral; border-width: 5px;">
            <button (click)="verEditar()" class="btn btn-outline-dark btn-sm btn-block" style="margin-top: 5px; padding-top: 5px; padding-bottom: 5px;">Editar</button>
          </div>
          <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-0">{{perfil.nombre}}</h4>
            <p class="small mb-4">
              <i class="fas fa-map-marker-alt mr-2">{{perfil.usuario}}</i>
            </p>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{numeros.numeroTidals}}</h5>
            <small class="text-muted"> <i class="fas fa-image mr-1"></i>Tidals</small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{numeros.numeroSeguidores}}</h5>
            <small class="text-muted"> <i class="fas fa-user mr-1"></i>Seguidores</small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">{{numeros.numeroSiguiendo}}</h5>
            <small class="text-muted"> <i class="fas fa-user mr-1"></i>Seguidos</small>
          </li>
        </ul>
      </div>
      <div class="px-4 py-3">
        <h5 class="mb-0">Sobre mí</h5>
        <div class="p-4 rounded shadow-sm bg-light">
          <p class="mb-0">{{perfil.nick}}</p>
        </div>
      </div>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Tidals recientes</h5>
          <a href="#" class="btn btn-link text-muted">Show all</a>
        </div>
        <div>
          <div class="row" *ngFor="let art of tidals">
            <div class="container">
              <div class="tweet" style="background: white;">
                <img src="{{perfil.foto}}" class="profile-picture">
                <div class="tweet-info">
                  <h4 class="name">{{art.usuarioId.nombre}}</h4>
                  <p class="username">{{art.usuarioId.usuario}}</p>
                  <p class="tweet-text">{{art.texto}}</p>
                  <small class="text-muted">Publicado el {{art.fecha}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding-top: 11vh;">

</div>
<div id="editarperfil" style="margin-right: 25px; margin-left: 25px;">
  <h1>Editar perfil</h1>
  <button style="background-color: transparent; border-color: transparent; border: 0px; margin: 0;" (click)="verPerfil()"><fa-icon [icon]="['fas', 'xmark']" style="color: whitesmoke"></fa-icon></button>
  <form>
    <label for="nick">Sobre mí:</label>
    <input type="text" id="nick" name="nick" required [(ngModel)]="modificar.nick">

    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required [(ngModel)]="modificar.usuario">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required [(ngModel)]="modificar.nombre">

    <label for="fecha">Fecha:</label>
    <input type="text" id="fecha" name="fecha" required [(ngModel)]="modificar.fecha">

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" required [(ngModel)]="modificar.telefono">

    <label for="foto">Foto:</label>
    <input type="text" id="foto" name="foto" required [(ngModel)]="modificar.foto">

    <label for="encabezado">Encabezado:</label>
    <textarea id="encabezado" name="encabezado" rows="4" required [(ngModel)]="modificar.encabezado"></textarea>

    <button type="submit" (click)="modificarUsuario()">Enviar</button>
  </form>
</div>
<ng-template #espera >
  <div class="spinner">
    <div class="loader"></div>
  </div>
</ng-template>
