/* Estilo para la pantalla de registro */
body{
  background-color: whitesmoke;
  height: 100%;
}

/* Estilo para los tweets */
.card {
  margin-bottom: 20px;
}

.card-header {
  background-color: lightcoral;
  color: white;
}

.card-footer {
  background-color: lightcoral;
}

/* Estilo para el bot贸n de nuevo tweet */
.btn-outline-secondary, .btn {
  background-color: lightcoral;
  color: white;
}

/* Estilo para la secci贸n col-md-6 */
.col-md-6 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Esto es para cambiar la direcci贸n de los elementos dentro de la secci贸n */
}

.container {
  display: flex;
  justify-content: center;
  border-color: black;
}

.tweet {
  display: flex;
  margin-bottom: 0px;
  align-items: flex-start;
  padding: 30px;
  background: white;
  width: 300vh;
}
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.tweet-info {
  flex: 1;
}
.name {
  font-weight: bold;
  margin-bottom: 5px;
}
.username {
  color: gray;
  margin-bottom: 5px;
}

.prueba{
  display: block;
}

#logro{
  z-index: 2;
  position: fixed;
  margin-top: 40vh;
  margin-left: 50%;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
}

.loader {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid lightcoral;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chat-container {
  padding: 20px;
  background-color: white;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  clear: both;
  box-sizing: border-box;
}

.message.me {
  background-color: #6dc4f4;
  float: right;
}

.message.other {
  background-color: #e5e5ea;
  float: left;
}

.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
}

.input-container input[type="text"] {
  width: calc(100% - 80px);
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

.input-container button[type="submit"] {
  width: 70px;
  height: 40px;
  background-color: lightcoral;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  float: right;
  cursor: pointer;
}

#chat{
  display: none;

}

#todoschat{
  display: block;
}
