<head>
  <link rel="stylesheet" href="chat.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

  <main role="main" class=".justify-content-center">
    <div id="todoschat">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom fixed-top" style="margin: 0; background-color: whitesmoke;">
        <h1 class="h2" style="margin-left: 5vh;">Tus chats</h1>
        <img class="end-0" src="assets/Logo.png" style="width: 10vw;  margin-right: 5vh;">
      </div>
      <div style="padding-top: 11vh;">
        <div *ngIf="listaUsuarios!=null; else espera">
          <div class="row" *ngFor="let art of listaUsuarios">
            <div class="container">
              <div class="tweet" style="border-top: 1px solid lightcoral; border-bottom: 1px solid lightcoral;">
                <img src="{{art.foto}}" class="profile-picture">
                <div class="tweet-info">
                  <button style="color: black; text-decoration:none; border: 0px; background-color: transparent; font-weight: bold" (click)="abrirChat(art.id)"><h4 class="name">{{art.nombre}}</h4></button>
                  <p class="username">{{art.usuario}}</p>
                  <p class="tweet-text"><b>Sobre mí:</b> {{art.nick}}</p>
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="chat" class="chat-container">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom fixed-top" style="margin: 0; background-color: whitesmoke;">
            <h1 class="h2" style="margin-left: 5vh;">Chat</h1>
            <button style="background-color: transparent; border-color: transparent; border: 0px; margin-right: 50px;" (click)="cerrarChat()" ><fa-icon [icon]="['fas', 'xmark']" style="color: lightcoral"></fa-icon></button>
          </div>
          <div style="padding-top: 10vh;"></div>
          <div *ngFor="let chat of conversacion">
              <div class="message other" *ngIf="chat.usuarioIdEmisor.id === idConver;">
                {{chat.texto}}
              </div>
              <div class="message me" id="propio" *ngIf="chat.usuarioIdEmisor.id != idConver;">
                {{chat.texto}}
              </div>
          </div>
          <div class="input-container" style="margin-bottom: 55px;">
            <input type="text" placeholder="Escribe aquí tu mensaje">
            <button type="submit">Enviar</button>
          </div>

        <div style="padding-top: 10vh;">

        </div>
    </div>
    <ng-template #espera >
      <div class="spinner">
        <div class="loader">

        </div>
      </div>
    </ng-template>
  </main>
</body>
