<head>
  <link rel="stylesheet" href="home.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" id="cuerpo" style="background-color: white">
  <main role="main" class=".justify-content-center">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom fixed-top" style="margin: 0; background-color: whitesmoke;">
      <h1 class="h2" style="margin-left: 5vh;">Publicaciones</h1>
      <img class="end-0" src="assets/Logo.png" style="width: 10vw;  margin-right: 5vh;">
    </div>
    <div class="button-container">
      <button class="button" id="button1">Para ti</button>
      <button class="button" id="button2">Todo</button>
    </div>


    <div style="padding-top: 20vh;">

    </div>

    <div *ngIf="publicacion!=null; else espera">
      <div class="row" *ngFor="let art of publicacion | paginate: { itemsPerPage: 6, currentPage: p, totalItems: total }">
        <div class="container">
          <div class="tweet" style="border-top: 1px solid lightcoral; border-bottom: 1px solid lightcoral;">
            <img src="{{art.usuarioId.foto}}" class="profile-picture">
            <div class="tweet-info">
              <button style="color: black; text-decoration:none; border: 0px; background-color: transparent; font-weight: bold" (click)="abrirPerfil(art.usuarioId.id)"><h4 class="name">{{art.usuarioId.nombre}}</h4></button>
              <p class="username">{{art.usuarioId.usuario}}</p>
              <p class="tweet-text">{{art.texto}}</p>

              <small class="text-muted">{{art.fecha}}</small>
              <button style="border-color: transparent; background-color: transparent;" *ngIf="art.tiene === false" class="nav-link active" aria-current="page" id="like" (click)="likes(art.id)"><fa-icon [icon]="['fas', 'heart']" style="border-color:#E57373; border: 1px;  hover-color: #E54A73; width: 100px; margin-right: 10px;"></fa-icon><b>Likes:</b> {{art.likes}}</button>
              <button *ngIf="art.tiene === true" class="nav-link active" aria-current="page" id="dislike" (click)="likes(art.id)"><fa-icon [icon]="['fas', 'heart']" style="Color:#E57373;  hover-color: #E54A73; width: 100px; margin-right: 10px;"></fa-icon><b>Likes:</b> {{art.likes}}</button>

            </div>
          </div>
        </div>
      </div>
      <div style="float: left ; position: relative ; left: 40%; color: lightcoral;"><pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls></div>
    </div>
    <br>
    <div style="padding-top: 15vh;">
    </div>
    <ng-template #espera >
      <div class="spinner">
        <div class="loader"></div>
      </div>
    </ng-template>

  </main>
</div>

</body>
