<head>
  <link rel="stylesheet" href="home.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" id="cuerpo" style="background-color: white">
  <main role="main" class=".justify-content-center">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="margin: 0">
      <h1 class="h2">Feed de Publicaciones</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
      </div>
    </div>
    <div *ngIf="publicacion!=null; else espera">
      <div class="row" *ngFor="let art of publicacion">
        <div class="container">
          <div class="tweet" style="border-top: 1px solid lightcoral; border-bottom: 1px solid lightcoral;">
            <img src="{{art.usuarioId.foto}}" class="profile-picture">
            <div class="tweet-info">
              <button style="color: black; text-decoration:none; border: 0px; background-color: transparent; font-weight: bold" (click)="abrirPerfil(art.usuarioId.id)"><h4 class="name">{{art.usuarioId.nombre}}</h4></button>
              <p class="username">{{art.usuarioId.usuario}}</p>
              <p class="tweet-text">{{art.texto}}</p>
              <small class="text-muted">{{art.fecha}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-top: 10vh;">

    </div>
    <ng-template #espera >
      <div class="spinner">
        <div class="loader"></div>
      </div>
    </ng-template>

  </main>
</div>

</body>
