<head>
  <link rel="stylesheet" href="tendencias.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" id="cuerpo" style="background-color: white">
  <main role="main" class=".justify-content-center">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom fixed-top" style="margin: 0; background-color: whitesmoke;">
      <h1 class="h2" style="margin-left: 5vh;">Publicaciones</h1>
      <img class="end-0" src="assets/Logo.png" style="width: 10vw;  margin-right: 5vh;">
    </div>
    <div class="button-container">
      <button class="button" id="button2" (click)="verTodas()">Todo</button>
    </div>


    <div style="padding-top: 20vh;">

    </div>

    <div id="todas" *ngIf="tag!=null; else espera">

        <div class="container">
          <div class="tweet" style="border-top: 1px solid lightcoral; border-bottom: 1px solid lightcoral;">
            <div class="tweet-info">
<!--              <button style="color: black; text-decoration:none; border: 0px; background-color: transparent; font-weight: bold" (click)="abrirPerfil(art.usuarioId.id)"><h4 class="name">{{art.usuarioId.nombre}}</h4></button>-->
              <p class="username">{{tag.nombre}}</p>
              <p class="tweet-text">{{tag.contador}}</p>

            </div>
          </div>
        </div>
    </div>
    <br>
    <div style="padding-top: 15vh;">
    </div>
    <ng-template #espera >
      <div class="spinner">
        <div class="loader"></div>
      </div>
    </ng-template>

  </main>
</div>

</body>
