/* Estilo para la pantalla de registro */
body{
  background-color: whitesmoke;
  height: 100%;
}
/* Estilo para los tweets */
.card {
  margin-bottom: 20px;
}

.card-header {
  background-color: #007bff;
  color: white;
}

.card-footer {
  background-color: #E6ECF0;
}

/* Estilo para el bot贸n de nuevo tweet */
.btn-outline-secondary {
  background-color: #007bff;
  color: white;
}

/* Estilo para la secci贸n col-md-6 */
.col-md-6 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Esto es para cambiar la direcci贸n de los elementos dentro de la secci贸n */
}

.container {
  display: flex;
  justify-content: center;
  border-color: black;

}
.tweet {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  padding: 30px;
  background: white;
  border-radius: 10px;
  width: 300vh;
  border-color: black;
}
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.tweet-info {
  flex: 1;
}
.name {
  font-weight: bold;
  margin-bottom: 5px;
}
.username {
  color: gray;
  margin-bottom: 5px;
}

.prueba{
  display: block;
}



