<head>
  <link rel="stylesheet" href="inicio.component.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Elegir entre registrarse o iniciar sesión</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Elegir entre registrarse o iniciar sesión</h5>
          <div class="text-center">
            <a routerLink="/inicio-sesion" class="btn btn-lg btn-primary text-uppercase mr-3" onclick="location.href='login.html';">Iniciar sesión</a>
            <button class="btn btn-lg btn-secondary text-uppercase" onclick="location.href='register.html';">Registrarse</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

